{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grow your business with Vesperr</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  
  <div class="container tab-content">
    <h2>Set New Password</h2>
    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      {% endfor %}
      <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
        {% csrf_token %}
        
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" name="email" class="form-control" required />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" name="new_password"
          class="form-control" placeholder="Enter new password" required />
          <label class="form-label" for="registerPassword">New Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" name="confirm_new_pass"
          class="form-control" placeholder="Confirm password" required />
          <label class="form-label" for="registerRepeatPassword">Confirm password</label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Reset password</button>

      </form>
    </div>
  </div>
  <!-- Pills content -->


{% endblock content %}